.App {
  text-align: center;
  font-family: "Roboto", sans-serif !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tweet-container {
  display: flex;
  flex-direction: row;
  min-height: 70px;
}

.tweet-input {
  flex: 3;
  width: 50%;
  border: none;
  font-size: 18px;
  max-width: 500px;
  padding: 15px;
}

.btn {
  flex: 1;
  height: 70px;
  width: 250px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2e7736;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.btn:focus {
  outline: none;
}

.tweet {
  max-width: 900px;
}

.tweet-main {
  width: 100%;
}

.tweet-results {
  display: flex;
  width: 100%;
  margin: 10px auto;
}

.result-box {
  display: flex;
  flex-direction: column;
  border: 2px solid #282c34;
  justify-content: space-between;
  flex: 1;
  height: 180px;
}

.result-box span {
  padding: 8px;
  margin: 0;
  flex: 1;
}

.result-box h2 {
  font-size: 18px;
}

.result-box p {
  flex: 1;
  font-size: 16px;
}

.model-SVM span:first-child {
  background-color: #571845;
}

.model-NB span:first-child {
  background-color: #173f5f;
}

.model-LG span:first-child {
  background-color: #780000;
}

.result-box span:nth-child(2) {
  background-color: #fff;
  color: #333;
}

.loader {
  transition: 1s all;
  margin: 0 auto;
  margin-top: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #2e7736; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
